@model IEnumerable<Foodilizer_Group35.Models.Restaurant>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_owner_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="owner_register1">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerContact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rabout)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RestType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Raddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rdistrict)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceRange)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rusername)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rpassword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rprovince)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpenHour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpenStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WebsiteLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MapLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MealType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cuisine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Feature)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecialDiet)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var restaurant in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelrestaurant => restaurant.Rname)
            </td>
            <td>
                @Html.DisplayFor(modelrestaurant => restaurant.OwnerName)
            </td>
            <td>
                @Html.DisplayFor(modelrestaurant => restaurant.OwnerContact)
            </td>
            <td>
                @Html.DisplayFor(modelrestaurant => restaurant.OwnerEmail)
            </td>
            <td>
                @Html.DisplayFor(modelrestaurant => restaurant.Rabout)
            </td>
            <td>
                @Html.DisplayFor(modelrestaurant => restaurant.RestType)
            </td>
            <td>
                @Html.DisplayFor(modelrestaurant => restaurant.Remail)
            </td>
            <td>
                @Html.DisplayFor(modelrestaurant => restaurant.Raddress)
            </td>
            <td>
                @Html.DisplayFor(modelrestaurant => restaurant.Rdistrict)
            </td>
            <td>
                @Html.DisplayFor(modelrestaurant => restaurant.PriceRange)
            </td>
            <td>
                @Html.DisplayFor(modelrestaurant => restaurant.Rusername)
            </td>
            <td>
                @Html.DisplayFor(modelrestaurant => restaurant.Rpassword)
            </td>
            <td>
                @Html.DisplayFor(modelrestaurant => restaurant.Rprovince)
            </td>
            <td>
                @Html.DisplayFor(modelrestaurant => restaurant.OpenHour)
            </td>
            <td>
                @Html.DisplayFor(modelrestaurant => restaurant.OpenStatus)
            </td>
            <td>
                @Html.DisplayFor(modelrestaurant => restaurant.WebsiteLink)
            </td>
            <td>
                @Html.DisplayFor(modelrestaurant => restaurant.MapLink)
            </td>
            <td>
                @Html.DisplayFor(modelrestaurant => restaurant.MealType)
            </td>
            <td>
                @Html.DisplayFor(modelrestaurant => restaurant.Cuisine)
            </td>
            <td>
                @Html.DisplayFor(modelrestaurant => restaurant.Feature)
            </td>
            <td>
                @Html.DisplayFor(modelrestaurant => restaurant.SpecialDiet)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@restaurant.RestId">Edit</a> |
                <a asp-action="Details" asp-route-id="@restaurant.RestId">Details</a> |
                <a asp-action="Delete" asp-route-id="@restaurant.RestId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
