@model Foodilizer_Group35.Models.Customer

@{
    ViewData["Title"] = "UsersDetails";
    Layout = "~/Views/Shared/_Foodilizer_admin_layout.cshtml";
}

<main>
    <div class="container-fluid px-4">
        <div class="row">
            <div class="col-8">
                <h1 class="mt-4">Users</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Foodilizer Admin/Users/User Details</li>
                </ol>
            </div>
        </div>

        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            @*<dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Nic)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nic)
            </dd>*@
            @*<dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Username)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Username)
            </dd>*@
            @*<dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Password)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Password)
            </dd>*@
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.District)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.District)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Province)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Province)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Address)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Address)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PrefFoodType)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PrefFoodType)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DietryRestriction)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DietryRestriction)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LocationLink)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LocationLink)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ProfileImage)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ProfileImage)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CemailNavigation)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CemailNavigation.Email)
            </dd>
        </dl>
    </div>
    <div class="form-row row p-2">
        
        <div class="form-group col-2">
            <a asp-action="Users" class="btn btn-secondary w-75 ">Back</a>
        </div>
    </div>
</main>