@model IEnumerable<Foodilizer_Group35.Models.Item>
@{
    Layout = "~/Views/Shared/_store_admin_layout.cshtml";
}
@{ List<Menu> temp = ViewBag.itemdet;}
<main>
    <div class="container-fluid px-4">
        <div class="row">
            <div class="col-8">
                <h1 class="mt-4">Inventory</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Store Admin/Inventory</li>
                </ol>
                <h4>Inventory Levels</h4>
                <a class="btn btn-primary"  asp-action="InventoryCreate" >Add Items</a>
            </div>
            <div class="col-4">
                <div class="card bg-danger text-white mb-4 mt-4">
                    <div class="card-body">Attention</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Rest id</th>
                        <th>Item Name</th>
                        <th>ItemQuantity</th>
                        <th>Measurement</th>
                        <th>Quantity Limit</th>
                        <th>Edit buttons</th>
                    </tr>
                </thead>
                <tbody>
                    @*@if (temp != null)
                    {*@

                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RestId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ItemName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ItemQuantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Measurement)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.QuantityLimit)
                                </td>
                                <td>
                                    <a class="btn btn-secondary" asp-action="InventoryEdit" asp-route-id="@item.ItemId">Edit</a> 
                                    <a  class="btn btn-outline-success" asp-action="InventoryDetails" asp-route-id="@item.ItemId">More</a> 
                                    <a class="btn btn-danger" asp-action="InventoryDelete" asp-route-id="@item.ItemId">Delete</a>
                                </td>
                            </tr>


                        }
                    @*}*@
                </tbody>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>INGREDIENTS</th>
                        <th>Age</th>
                        <th>Start date</th>
                        <th>Salary</th>
                    </tr>
                </tfoot>

            </table>
        </div>
    </div>
</main>