@model Foodilizer_Group35.Models.Restaurant
@{
    Layout = "~/Views/Shared/_store_admin_layout.cshtml";
}
@{ List<Menu> temp = ViewBag.fooddet;}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Menu</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Store Admin/Menu</li>
        </ol>
        <h4>Edit / Update Menu</h4>
        <a class="btn btn-primary" asp-action="MenuCreate" asp-route-id="@TempData["Menu_id"]">Add Items</a>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>INGREDIENTS</th>
                        <th>Age</th>
                        <th>Start date</th>
                        <th>edit buttons</th>
                    </tr>
                </thead>
                <tbody>
                    @if (temp != null)
                    {

                        @foreach (var item in temp.First().Foods)
                        {
                            <tr>
                                <td>@item.FoodName</td>
                                <td>Rs.@item.Price</td>
                                <td>@item.Ingredient</td>
                                <td>
                                    <a asp-action="MenuEdit" asp-route-id="@item.FoodId">Edit</a> |
                                    <a asp-action="MenuDetails" asp-route-id="@item.FoodId">Details</a> |
                                    <a asp-action="MenuDelete" asp-route-id="@item.FoodId">Delete</a>
                                </td>
                                <td>2011/04/25</td>
                                <td>$320,800</td>
                            </tr>


                        }
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>INGREDIENTS</th>
                        <th>Age</th>
                        <th>Start date</th>
                        <th>Salary</th>
                    </tr>
                </tfoot>

            </table>
        </div>
    </div>

</main>

