@model Foodilizer_Group35.Models.Restaurant
@{
    Layout = "~/Views/Shared/_store_admin_layout.cshtml";
}
@{ List<Menu> temp = ViewBag.fooddet;}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Menu</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Store Admin/Menu</li>
        </ol>
           <div class="group" style="display: flex; justify-content: center; position: relative;">
        <h4>Edit / Update Menu</h4>
     
            <a class="btn btn-primary" asp-action="MenuCreate" asp-route-id="@TempData["Menu_id"]" 
               style="float: right;  right: 0; position:absolute;">Add Items</a>
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Type</th>
                        <th>Category</th>
                        <th>SubCategory</th>
                        <th>Veg</th>
                        <th>SpicyLevel</th>
                        <th>Hot</th>
                        <th>Organic</th>
                        <th>Edit Item</th>
                    </tr>
                </thead>
                <tbody>
                    @if (temp != null)
                    {

                        @foreach (var item in temp.First().Foods)
                        {
                            <tr>
                                <td>@item.FoodName</td>
                                <td>Rs.@item.Price</td>
                                <td>@item.Type</td>
                                <td>@item.Category</td>
                                <td>@item.SubCategory</td>
                                <td>@item.Veg</td>
                                <td>@item.SpicyLevel</td>
                                <td>@item.Hot</td>
                                <td>@item.Organic</td>
                                <td class="">
                                    <a class="btn btn-secondary" asp-action="MenuEdit" asp-route-id="@item.FoodId">Edit</a> 
                                    <a class="btn btn-outline-success" asp-action="MenuDetails" asp-route-id="@item.FoodId">More</a>
                                    <a class="btn btn-danger" asp-action="MenuDelete" asp-route-id="@item.FoodId">Delete</a>
                                </td>
                                
                            </tr>


                        }
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Type</th>
                        <th>Category</th>
                        <th>SubCategory</th>
                        <th>Veg</th>
                        <th>SpicyLevel</th>
                        <th>Hot</th>
                        <th>Organic</th>
                        <th>Edit Item</th>
                    </tr>
                </tfoot>

            </table>
        </div>
    </div>

</main>

