@model IEnumerable<Foodilizer_Group35.Models.RestaurantOrder>
@{
    Layout = "~/Views/Shared/_store_admin_layout.cshtml";
}
@{ List<RestaurantOrder> temp = ViewBag.orderlist;}
<main>
    <div class="container-fluid px-4">
        <div class="row">
            <div class="col-8">
                <h1 class="mt-4">Orders</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Store Admin/ Orders</li>
                </ol>
                @*<div class="group" style="display: flex; justify-content: center; position: relative;">
                    <h4>Inventory Levels</h4>
                    <a class="btn btn-primary" asp-action="InventoryCreate" style="float: right;  right: 0; position:absolute;">Add Items</a>
                </div>*@
            </div>
            @*<div class="col-4">
                <div class="card bg-danger text-white mb-4 mt-4">
                    <div class="card-body">Attention</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>*@
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Customer Name</th>
                        <th>Address</th>
                        <th>Date</th>
                        <th>Food?</th>
                        <th>View</th>
                    </tr>
                </thead>
                <tbody>
                    @*@if (temp != null)
                        {*@

                    @foreach (var item in temp)
                    {

                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.Content)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DeliveryAddress)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderIncludesFoods)
                        </td>
                        <td>
                            
                            <a class="btn btn-outline-success" asp-action="OrderView" asp-route-id="@item.OrderId">View</a>
                            
                        </td>
                    </tr>


                    }
                    @*}*@
                </tbody>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>INGREDIENTS</th>
                        <th>Age</th>
                        <th>Start date</th>
                        <th>Salary</th>
                    </tr>
                </tfoot>

            </table>
        </div>
    </div>
</main>