@model Foodilizer_Group35.Models.Restaurant

@{
    Layout = "~/Views/Shared/_store_admin_layout.cshtml";
}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Recomendations</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Store Admin/Recomendations</li>
        </ol>
        <h4>Edit / Update Recomendations</h4>
        <div class="col-md-12 row d-flex justify-content-center">
            @{ List<Menu> temp = ViewBag.fooddet;}
            @if (temp != null)
            {
                @foreach (var item in temp.First().Foods)
                {
                    @if (item.Featured == "1")
                    {
                        <div class="col-2 align-items-stretch mb-3 d-flex">
                            <div class="card recomm-box text-dark mb-4">
                                <div class="card-title card-title-recomm ">@item.FoodName</div>
                                <img src="@Url.Content(item.ImagePath)" class="card-img-top card-img-top-recomm" alt="Card Image">
                                <div class="card-body card-body-recomm">Pref Score : <b>@item.PrefScore%</b></div>

                            </div>
                        </div>

                    }
                }
            }
        </div>
       
        
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Food Name</th>
                        <th>Category</th>
                        <th>Prefernce Score</th>
                        <th>Price</th>
                        <th> SpicyLevel</th>
                        <th>Food Type</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Age</th>
                        <th>Start date</th>
                        <th>Salary</th>
                    </tr>
                </tfoot>
                @if (temp != null)
                {
                    @foreach (var item in temp.First().Foods)
                    {

                       <tbody>
                            <tr>
                                <td>@item.FoodName</td>
                                <td>@item.Category</td>
                                <td>@item.PrefScore</td>
                                <td>@item.Price</td>
                                <td>@item.SpicyLevel</td>
                                <td>@item.Type</td>
                            </tr>

                        </tbody>


                    }
                }
                
            </table>
        </div>
    </div>
</main>



