@model IEnumerable<Foodilizer_Group35.Models.Food>

@{
    ViewData["Title"] = "FoodIndex";
    Layout = "~/Views/Shared/_home_Layout.cshtml";
}
<head>

    <link rel="stylesheet" href="~/css/search.css" />
</head>
<body>
    <div class="container component">
        <div class="row">
            <div class="col-lg-12 search-form">
                <form id="search-form" asp-action="FoodSearchResults">
                    <div class="row">
                        <div class="col-12">
                            <div class="row no-gutters">

                                <div class="col-lg-6 p-0">
                                    <input type="text" placeholder="Search..." class="form-control" id="search" name="searchString">
                                </div>
                                <div class="col-lg-2  p-0 ml-2">
                                    <select class="form-control" id="district" name="district">
                                        <option>All Locations</option>
                                        @foreach (var locations in ViewBag.restlocation)
                                        {
                                            <option>@locations</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-lg-2 p-0 ml-2">
                                    <select class="form-control" id="searchtype" name="searchtype">
                                        <option>Restaurant</option>
                                        <option>Food</option>
                                    </select>
                                </div>

                                <div class="col-lg-1 p-0">
                                    <button type="submit" class="btn btn-base">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        @foreach (var item in Model)
        {
            <div class="result-card-body">
                <section class="search-result-item align-content-center">
                    <a class="image-link" href="#">
                        <img class="image" src="@Url.Content(item.ImagePath)">
                    </a>
                    <div class="search-result-item-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <h4 class="search-result-item-heading"><a asp-controller="Search" asp-action="redirectstorewithfoods" asp-route-id="@item.MenuId">@Html.DisplayFor(modelItem => item.FoodName)</a></h4>
                                <span class="info">@Html.DisplayFor(modelItem => item.FoodName)</span>
                                <br />
                                <span class="description">@Html.DisplayFor(modelItem => item.Type)</span>
                                <br />
                                @*<span class="description">@Html.DisplayFor(modelItem => item.DietryType)</span>*@
                            </div>
                            <div class="col-sm-3 text-align-center">
                                <h3 class="Price-tag">RS @Html.DisplayFor(modelItem => item.Price)</h3>

                                <span class="value3 mt-sm">
                                    @{
                                        for (int i=0; i<item.Quantity; i++) {

                                    <i class="fa fa-circle"></i>
                                        }
                                      }
                                </span>
                                <p class="fs-mini text-muted">Preference Score: @Html.DisplayFor(modelItem => item.PrefScore)</p>
                                <a class="btn btn-primary btn-info btn-sm" href="#">More</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
          }

    </div>
    


</body>