@model IEnumerable<Foodilizer_Group35.Models.Restaurant>

@{
    ViewData["Title"] = "Search Results";
    Layout = "~/Views/Shared/_home_Layout.cshtml";
}
<head>
    
    <link rel="stylesheet" href="~/css/search.css"/>
</head>
<body>
    <div class="container component">
        <div class="row">
            <div class="col-lg-12 search-form">
                <form id="search-form">
                    <div class="row">
                        <div class="col-12">
                            <div class="row no-gutters">

                                <div class="col-lg-6 p-0">
                                    <input type="text" placeholder="Search..." class="form-control" id="search" name="search">
                                </div>
                                <div class="col-lg-2  p-0 ml-2">
                                    <select class="form-control" id="e">
                                        <option>All Locations</option>
                                        @foreach (var item in ViewBag.restlocation)
                                        {
                                            <option>@item</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-lg-2 p-0 ml-2">
                                    <select class="form-control" id="e">
                                        <option>Restaurant</option>
                                        <option>Food</option>
                                    </select>
                                </div>

                                <div class="col-lg-1 p-0">
                                    <button type="submit" class="btn btn-base">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        @foreach (var item in Model) {
            <div class="result-card-body">
                <section class="search-result-item align-content-center">
                    <a class="image-link" href="#">
                        <img class="image" src="https://bootdey.com/img/Content/avatar/avatar1.png">
                    </a>
                    <div class="search-result-item-body">
                        <div class="row">
                            <div class="col-sm-9">
                                <h4 class="search-result-item-heading"><a href="#">@Html.DisplayFor(modelItem => item.Rname)</a></h4>
                                <span class="info">@Html.DisplayFor(modelItem => item.Raddress)</span>
                                <br />
                                <span class="description">@Html.DisplayFor(modelItem => item.MealType)</span>
                                <br />
                                <span class="description">@Html.DisplayFor(modelItem => item.OpenHour)</span>
                            </div>
                            <div class="col-sm-3 text-align-center">
                                <p class="value3 mt-sm">
                                    <i class="fa fa-circle"></i>
                                    5.0
                                </p>
                                <p class="fs-mini text-muted">100 Reviews</p>
                                <a class="btn btn-primary btn-info btn-sm" href="#">More</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        }
    </div>    


    </body>
