@model Foodilizer_Group35.Models.Customer
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_home_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <title>Foodies</title>
    <!-- OWN CSS -->
    <link rel="stylesheet" href="~/css/customer_profile.css">
    <link rel="stylesheet" href="~/css/custom-bootstrap.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <script src="https://kit.fontawesome.com/abb6d122c4.js" crossorigin="anonymous"></script>
    <script src="~/js/customer_profile/reviews.js"></script>
</head>
<body>



    @{ List<Customer> customerReviews = ViewBag.customerReviews;}
    @{ List<Customer> customerOrders = ViewBag.customerOrders;}
    <!-- section-1 top-banner -->
    <section id="home">
        <div class="container-fluid">
            <br /><br /><br />
            <div class="row">
                <div class="col-sm-24 main_container">
                    <br>
                    <div class="row">
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-22">
                            <div class="row">
                                <div class="col-sm-24">
                                    <div class="card secondary_container">
                                        <br />
                                        <div class="row">
                                            <div class="col-sm-1">

                                            </div>
                                            <div class="col-sm-4">
                                                <img src="@Html.DisplayFor(model => model.ProfileImage)" class="profile_picture" />
                                            </div>
                                            <div class="col-sm-1">
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="row">
                                                    <div class="col-sm-24">
                                                        <div class="profile_font"> @Html.DisplayFor(model => model.Name)</div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <br />
                                                        <text class="normal_text">Reviews</text><br> @customerReviews.First().Reviews.Count
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <br />
                                                        <text class="normal_text">Orders</text><br>@customerOrders.First().RestaurantOrders.Count
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">

                                            </div>

                                        </div>
                                        <br />
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="card secondary_container">
                                        <p class="mx-auto pt-2">Information</p>
                                        <p class="float-left pl-4"><i class="fas fa-compass"></i>&ensp;&ensp;@Html.DisplayFor(model => model.Address)</p>
                                        <p class="float-left pl-4"><i class="fas fa-at"></i>&ensp;&ensp;@Html.DisplayFor(model => model.Cemail)</p>
                                        <p class="float-left pl-4"><i class="fa fa-trello"></i>&ensp;&ensp;Joined on<br />&ensp;&ensp;&ensp;2021/07/17 </p>
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                </div>
                                <div class="col-sm-17">
                                    <div class="card secondary_container">
                                        <h3 class="mx-auto pt-2">Your Reviews</h3>
                                    </div>
                                    <div class="reviews">
                                        @foreach (var review in customerReviews.First().Reviews)
                                        {
                                            int a = System.Convert.ToInt32(review.Rating);
                                        <div class="card">
                                            @if (a == 5)
                                            {
                                                <span class="rate-circles card-text pl-4"><i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i></span>
                                            }
                                            @if (a == 4)
                                            {
                                                <span class="rate-circles card-text pl-4"><i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle-o"></i></span>
                                            }
                                            @if (a == 3)
                                            {
                                                <span class="rate-circles card-text pl-4"><i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle-o"></i><i class="fa fa-circle-o"></i></span>
                                            }
                                            @if (a == 2)
                                            {
                                                <span class="rate-circles card-text pl-4"><i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle-o"></i><i class="fa fa-circle-o"></i><i class="fa fa-circle-o"></i></span>
                                            }
                                            @if (a == 1)
                                            {
                                                <span class="rate-circles card-text pl-4"><i class="fa fa-circle-o"></i><i class="fa fa-circle-o"></i><i class="fa fa-circle-o"></i><i class="fa fa-circle-o"></i><i class="fa fa-circle-o"></i></span>
                                            }
                                            <h4 class="card-text pl-4">@review.Rest.Rname</h4>
                                            <p class="card-text pl-4">
                                                @review.Feedback
                                            </p>
                                            @if (review.ReviewImage != null)
                                            {
                                                <img src="@review.ReviewImage" class="review_image card-text pl-4" />
                                            }
                                        </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1">
                        </div>
                    </div>
                    <br /><br />
                </div>
            </div>
        </div>
    </section>
</body>
</html>