@model Foodilizer_Group35.Models.Customer
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_home_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <title>Foodies</title>
    <!-- OWN CSS -->
    <link rel="stylesheet" href="~/css/customer_profile.css">
    <link rel="stylesheet" href="~/css/custom-bootstrap.css">
    <script src="https://kit.fontawesome.com/abb6d122c4.js" crossorigin="anonymous"></script>
</head>
<body>

    @{ List<Customer> customerOrders = ViewBag.customerOrders;}
    @{ List<Customer> customerReviews = ViewBag.customerReviews;}
    <!-- section-1 top-banner -->
    <section id="home">
        <div class="container-fluid">
            <br /><br /><br />
            <div class="row">
                <div class="col-sm-24 main_container">
                    <br>
                    <div class="row">
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-22">
                            <div class="row">
                                <div class="col-sm-24">
                                    <div class="card secondary_container">
                                        <br />
                                        <div class="row">
                                            <div class="col-sm-1">

                                            </div>
                                            <div class="col-sm-4">
                                                @if (Model.ProfileImage != null)
                                                {
                                                    <img src="@Url.Content(Model.ProfileImage)" class="profile_picture" onerror="this.onerror=null; this.src='https://i.pinimg.com/originals/0c/3b/3a/0c3b3adb1a7530892e55ef36d3be6cb8.png'" />
                                                }
                                                else
                                                {
                                                    <img class="profile_picture" src="https://i.pinimg.com/originals/0c/3b/3a/0c3b3adb1a7530892e55ef36d3be6cb8.png" />
                                                }
                                            </div>
                                            <div class="col-sm-1">
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="row">
                                                    <div class="col-sm-24">
                                                        <div class="profile_font"> @Html.DisplayFor(model => model.Name)</div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <br />
                                                        <text class="normal_text">Reviews</text><br> @customerReviews.First().Reviews.Count
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <br />
                                                        <text class="normal_text">Orders</text><br>@customerOrders.First().RestaurantOrders.Count
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">

                                            </div>
                                            <div class="col-sm-6">
                                                <span><a class="btn btn-dark" asp-action="customer_profile_reviews" asp-route-id="@TempData["Id"]">Your Reviews</a> <a class="btn btn-dark" asp-action="customer_profile_edit" asp-route-id="@TempData["Id"]">Edit profile</a></span>
                                            </div>

                                        </div>
                                        <br />
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="card secondary_container">
                                        <p class="mx-auto pt-2">Information</p>
                                        <p class="float-left pl-4"><i class="fas fa-user"></i>&ensp;&ensp;@Html.DisplayFor(model => model.Username)</p>
                                        <p class="float-left pl-4"><i class="fas fa-at"></i>&ensp;&ensp;@Html.DisplayFor(model => model.Cemail)</p>
                                        <p class="float-left pl-4"><i class="fa fa-compass"></i>&ensp;&ensp;@Html.DisplayFor(model => model.Address)</p>
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                </div>
                                <div class="col-sm-17">
                                    <div class="card secondary_container">
                                        <h3 class="mx-auto pt-2">Order History</h3>
                                    </div>
                                    <div class="orders">
                                        @foreach (var order in customerOrders.First().RestaurantOrders)
                                        {
                                            <div class="card" style="background-color: #17252A; color: #FFEFFF ">
                                                <h4 class="card-text pl-4">@order.Rest.Rname</h4>
                                                <h6 class="card-text pl-4">Date:@order.Date.Value.ToShortDateString()&ensp;&ensp;&ensp;&ensp;Total:@order.TotalAmount<span>LKR</span></h6>
                                                <span class="card-text pl-4">Order:</span>
                                                <ul style="padding-left:70px">
                                                    @foreach (var food in order.OrderIncludesFoods)
                                                    {
                                                        int p = System.Convert.ToInt32(@food.Food.Price) * System.Convert.ToInt32(@food.QTY);
                                                        <li>@food.Food.FoodName &ensp;&ensp; <span>X</span>@food.QTY : @p<span>LKR</span></li>
                                                    }
                                                </ul>
                                            </div>      
                                        }
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-1">
                        </div>
                    </div>
                    <br /><br />
                </div>
            </div>
        </div>
    </section>
</body>
</html>